[submodule "android/libraries/store"]
	path = android/libraries/store
	url = git@github.com:CoinbaseWallet/Stores.git
[submodule "android/libraries/core"]
	path = android/libraries/core
	url = git@github.com:CoinbaseWallet/CBCore.git
