# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
ios/WalletLink.xcworkspace/xcuserdata/**
ios/WalletLink.xcodeproj/xcuserdata/**
ios/WalletLink.xcodeproj/*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa

*.xcscmblueprint
*.gcno
*.gcda

# AppCode
/.idea

# Ruby/Node
vendor/bundle
.bundle/
node_modules/
*.xcbkptlist

UserInterfaceState.xcuserstate
/ios/Pods/Pods.xcodeproj/xcuserdata/**
/ios/WalletLink.xcodeproj/xcuserdata/**
